.menu {
  display: flex;
  list-style: none;
  height: fit-content;
}

.menu li {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
}

.mobileMenu {
  width: 100%;
  margin-top: 5.95rem;
  padding-inline-start: 0;
  position: fixed;
  z-index: 20;
  background-color: rgb(204,225,235);
  flex-wrap: wrap;
  display: flex;
  top: -1000px;
  animation: closeMenu 400ms ease-in;
}

.mobileMenu li {
  width: 100%;
  margin: 1rem auto;
}

.mobileMenu.active {
  top: 0;
  height: fit-content;
  animation: openMenu 400ms ease-out;
}

@keyframes openMenu {
  from{
    top: -1000px;
  }
  to{
    top: 0;
  }
}

@keyframes closeMenu {
  from{
    top: 0px;
  }
  to{
    top: -1000px;
  }
}

.pl,
.cz {
  position: fixed;
  height: 2rem;
  top: 2rem;
  right: 0;
  background-size: contain;
  margin: auto 2rem;
  padding: 0;
  z-index: 30;
}

.pl {
  background-image: url(/public/pl.svg);
  width: 3.2rem;
}

.cz {
  background-image: url(/public/cz.svg);
  width: 3rem;
}