.section {
  width: 100%;
  min-height: calc(100vh - 8rem);
  scroll-margin-top: 5rem;
  position: relative;
  top: 5rem;
  z-index: 15;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem 0;
}

#cogwheel {
  position: absolute;
  width: 13vw;
  opacity: 0.5;
  left: 2rem;
  top: 2rem;
  z-index: 30;
}

#atom {
  position: absolute;
  width: 11.5vw;
  opacity: 0.5;
  right: 2rem;
  top: 2rem;
  z-index: 30;
}

@media screen and (max-width: 1365px) {
  .section {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 450px) {
  .section {
    padding: 1.5rem 0;
  }

  #cogwheel {
    left: 0;
    top: 1rem;
  }

  #atom {
    right: 0;
    top: 1rem;
  }
}
